@page "/"

<PageTitle>Rasmus Høy Schmidt</PageTitle>

<section id="about">
    <picture>
        <img class="grid-item profilBillede" src="/IMG_0633 - Kopi2 - Kopi.jpg">
    </picture>
    <div class="grid-item about-indhold">
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </div>
    <div class="grid-item social-links">
        Item 3
    </div>
</section>
<section id="projects">

</section>
<section id="contact">

</section>
